
@media (min-width: 1040px) {
    #content {
        
        width: 100%;
        
        top: 65px;
    }
}
@media (max-width: 1039px) {
    #content {
        
        width: 100%;
         
        top: 120pt;
    }
}

body {
    margin: 0;
}

#navbar > #buttons > div > hr {
    display: none;
}