/*navbar defaults---------------------------------------------------------------------------------------------------*/
#navbar {
    background-color: #343A40;
    width: 100%;
    height: 65px;
    
    min-width: 400px;
    
    cursor: default;
}

#content {
    height: auto;
}

body {
    margin: 0;
}

#navbar > #logo {
     width: 65px;
     height: 65px;
     
     background-image: url("https://media.discordapp.net/attachments/449585340152414218/449585469647486986/59h8z953.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: 65px;
     
     float: left; 
}

#navbar > #name {
    transition: color 2s;
    
    width: auto;
    height: 65px;
    
    display: table;
    
    margin-top: -11px;
    
    font-size: 50px;    
    color: white;
    
    float: left;
}

/*navbar settings default --------------------------------------------------------------------------------------------*/
#navbar > #buttons > div > hr {
    display: none;
}

#navbar > #buttons > div > span:hover {
    transition: color 0.5s ease;
    color: red;
}

#navbar > #buttons {
    margin-right: 30px;
    margin-left: 30px;
    
    width: auto;
    height: 65px;
    
    color: white;
    
    float: right;
}

#navbar > #buttons > div > span {
    transition: color 0.5s ease;
    font-size: 30px;
    vertical-align: middle;
    
    padding-left: 50px;
    
    text-transform: uppercase;
    
    display: table-cell; 
    vertical-align: middle;
    
    width: auto;
    height: 65px;
}